# --- Python ---
venv/
.venv/
__pycache__/
*.py[cod]
.env
*.egg-info
*.pyc

# --- dbt ---
transform/logs/
transform/target/
transform/dbt_packages/
transform/logs/
logs/

# --- Bases de données (DuckDB) ---
# On ignore les fichiers de base de données locaux
*.duckdb
*.duckdb.wal

# --- Données ---
# Très important : on n'envoie JAMAIS les données brutes sur GitHub
data/
# Payloads JSON bruts (dev local, miroir type couche raw/)
raw/**/*.json
ingestion/raw/**/*.json
ingestion/data/**/*.json

# --- OS & IDE ---
.DS_Store
.vscode/
.cursor/

# --- Terraform ---
**/.terraform/
terraform.tfstate
terraform.tfvars
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
*.zip

# --- LAMBDAS (Dépendances) ---
# On ignore tous les dossiers générés par 'pip install -t .'
src/lambda/adzuna/*
src/lambda/france_travail/*

# Mais on force Git à garder nos scripts Python et fichiers de configuration !
!src/lambda/adzuna/*.py
!src/lambda/adzuna/requirements.txt
!src/lambda/france_travail/*.py
!src/lambda/france_travail/requirements.txt

