# --- PYTHON ---
venv/
.venv/
__pycache__/
*.py[cod]
.env
*.egg-info
*.pyc
.pytest_cache/
.ruff_cache/

# --- DBT ---
transform/logs/
transform/target/
transform/dbt_packages/
# On ignore le profile local s'il contient des chemins spécifiques
transform/profiles.yml
logs/

# --- BASES DE DONNÉES & DONNÉES ---
*.duckdb
*.duckdb.wal
data/
# Payloads JSON bruts (Bronze Layer locale)
**/raw/**/*.json
**/data/**/*.json

# --- TERRAFORM ---
**/.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
*.zip

# --- LAMBDAS (DÉPENDANCES PIP) ---
# On ignore les dossiers de libs installées par 'pip install -t'
src/lambda/adzuna/*
src/lambda/france_travail/*
src/lambda/jsearch/*
src/lambda/jooble/*

# Exceptions : On conserve impérativement le code source et les requirements
!src/lambda/adzuna/*.py
!src/lambda/adzuna/requirements.txt
!src/lambda/france_travail/*.py
!src/lambda/france_travail/requirements.txt
!src/lambda/jsearch/*.py
!src/lambda/jsearch/requirements.txt
!src/lambda/jooble/*.py
!src/lambda/jooble/requirements.txt

# --- UI & DASHBOARD ---
.streamlit/
# On ne commit JAMAIS les secrets Streamlit locaux
.streamlit/secrets.toml

# --- OS & IDE ---
.DS_Store
.vscode/
.cursor/
.idea/
/node_modules/